body {
    background-color: #ffffff;
}

.titulo {
    text-align: center;
}

.arriba {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    background-color: rgb(1, 129, 197);
    text-decoration: none;
    margin: 0%;
    margin-right: 0%;
    padding: 1%;
}

.itemMenu {
    position: relative;
    text-align: center;
    /*background-color: black;*/
    text-decoration: none;
    /*color: white;*/
    margin: 0%;
    margin-right: 5%;
    padding: 1%;
    font-size: 20px;
}


/*Tabla*/

table {
    width: 1300px;
}

th {
    text-align: center;
    color: white;
    background-color: rgb(1, 129, 197);
}

td {
    text-align: center;
}

table,
th,
td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #D3D3D3;
}


/*Tabla*/