body {
    background-color :#ffffff;
}

.titulo{
    text-align: center;
}

.arriba{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    background-color: rgb(1, 129, 197);
    text-decoration: none;
    margin: 0%;
    margin-right: 0%;
    padding: 1%;
}


.itemMenu{
    position: relative;
    text-align: center;
    /*background-color: black;*/
    text-decoration: none;
    /*color: white;*/
    margin: 0%;
    margin-right: 5%;
    padding: 1%;
    font-size: 20px;
}